<html>
  <head>
    <%- include('./patials/head.ejs') %> 
    <link rel="stylesheet"  href="/stylesheets/style.css">
  </head>
  <body>
    <%- include('./patials/nav.ejs') %> 
    <% if (drama !== null){
      for(var i = 0; i < drama.length; i++) { %>
        <ul>
          <img src="<%=drama[i].imagePath %>" alt="이미지" width="300" />
          <a href="/drama/<%= drama[i]._id%>"> <h3><%= i+1 %> - <%=drama[i].title%></h3></a>
          
      </ul><%}} %>
   
  </body>
</html>