<html>
  <head>
    <%- include('./patials/head.ejs') %> 
    <link rel="stylesheet"  href="/stylesheets/style.css">
  </head>
  <body>
    <%- include('./patials/nav.ejs') %> 
    <div class= "box-wrap">
    <% if (drama !== null){
      for(var i = 0; i < drama.length; i++) { %>
        <div>
        <ul>
          <button type="button" onclick="location.href='/drama/<%= drama[i]._id%>'" style="background-color: transparent; border: 0; outline: 0"><img src="<%=drama[i].imagePath %>" style="
            height: 200;
            width: 300;
            margin-top:10px;"/></button>
          <a href="/drama/<%= drama[i]._id%>" style="color:black; font-size:medium; text-decoration: none;"><h3> <%=drama[i].title%></h3></a>
          
      </ul>
    </div><%}} %>
  </div>
  </body>
</html>